/* RESET */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* COMMON */

    :root {
        --btn-color:#0061FF;
        --bck-color: #B4D0E7;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }

    .small-container {
        width: 70%;
        margin: 0 auto;
        max-width: 1000px;
    }

    .blu-btn {
        background-color: var(--btn-color);
        padding:0.3rem 0.5rem;
        color: white;
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem;
        text-align: center;
    }

    body {
        font-family: "Open Sans", sans-serif;
        padding-top: 60px;
    }

    ul {
        list-style-type: none;
    }

    h2 {
        margin-bottom: 2rem;
    }

    .gray {
        color: lightslategray;
    }

    .bold {
        font-weight: bold;
    }

/* HEADER */

    header {
        background-color: var(--bck-color);
        min-width: 1140px;
    }

    header .container{
        padding: 2rem 0;
    }
    /* Header nav */

    header nav {
        height: 60px;
        z-index: 999;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        padding: 0 10px;
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
    }

    .right-nav {
        width: 40%;
    }

    .left-nav {
        width: 30%;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .text-under:hover {
       border-bottom: 2px solid black;
    }

    .left-nav .blu-btn {
        padding: 0.3rem 0.9rem;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Header hero */

    h1 {
        font-size: 3.5rem;
    }

    .hero {
        display: flex;
        width: 100%;
        font-size: small;
        position: relative;
        bottom:-6rem;
    }

    .text-hero p {
        margin-bottom: 1.5rem;
    }

    .text-hero a {
        text-decoration: none;
        padding: 0.7rem;
    }

    .text-hero {
        margin-right: 1.5rem;
        min-height: 350px;
    }

    .text-hero i {
        font-size: 2.5rem;
        margin-top:1rem ;
    }

    main::before {
        content: "";
        display: block;
        width: 100%;
        min-height: 5rem
    }
    

/* MAIN */

    /* Section one */

    main input:last-child {
        margin-left: 3rem;
    }

    .plans-container {
        display: flex;
        gap: 2rem;
        width: 100%;
        margin-top: 4rem;
    }

    .plans-card {
        width: calc(100% / 3);
        border: 1px solid lightslategray;
    }

    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid lightslategray;
    }

    .card {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card hr {
        width: 20%;
    }

    .top-card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .card li {
        margin-top: 1.5rem;
        display: flex;
        gap: 0.5rem;
    }

    .fa-check {
        color: var(--btn-color);
        font-size: larger;
    }

    p>a {
        color: var(--btn-color);
    }



    /* Enterprise */

    .enterprise-title {
        text-align: center;
        border-bottom:1px solid lightslategray ;
        padding: 0.7rem;
    }

    .enterprise {
        border: 1px solid lightslategray;
        margin-top: 2.5rem;
    }

    .enterprise-card {
        display: flex;
        padding: 1.5rem;
        justify-content:flex-end
    }

    .enterprise-card .bold {
        margin: 1rem 0 2rem;
    }

    .enterprise-card div:last-child {
        width: 50%;
        text-align: end;
    }

    .enterprise-card .blu-btn {
        padding: 0.3rem 2rem;
    }

    /* Section two */

    .find-partner {
        display: flex;
        margin: 6rem 0;
        align-items: center;
    }

    .contact-img {
        width: 60%;
    }

    .contact-text {
        width: 40%;
        padding: 2.5rem;
        text-align:left;
    }

    .contact-text p {
        margin-bottom: 3rem;
    }

    .contact-text a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 0.8rem 1rem;
    }

    /* Section three */

    .operations-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }

    .operations-card {
        width:calc(100% / 3 - 2rem / 3) ;
    }

    .operations-card p {
        margin-top: 1.5rem;
    }

    /* Section four */

    .section-four {
        width: 100%;
        /* Debug */
        background-color: lightgreen;
        height: 200px;
        margin-top: 3rem;
    }

    /* Adv section */

    .adv-section {
        display: flex;
        width: 100%;
        /* Debug */
        height: 400px;
    }

    .adv-card {
        width: calc(100% / 3);
        /* Debug */
        background-color: azure;
        border: 1px solid black;
    }

    /* CTA section */

    .free-trial {
        width: 100%;
        /* Debug */
        background-color: lightskyblue;
        height: 200px;
    }

    /* Ask section */

    .ask-box {
        width: 100%;
        /* Debug */
        height: 300px;
    }

    .ask-row {
        width: 100%;
        height: calc(100% / 3);
        /* Debug */
        border: 1px solid black;
    }

/* FOOTER */

    footer {
        /* Debug */
        background-color: black;
        height: 400px;
    }

    /* Top footer */

    .top-footer {
        display: flex;
        /* Debug */
        height: 80%;
    }

    .col-footer {
        /* Debug */
        background-color: lightblue;
        border: 1px solid white;
        width: calc(100% / 5);
        height: 250px;
    }

    .bottom-footer {
        /* Debug */
        border: 1px solid white;
        height: 100px;
        margin-top: 2rem;
    }



